

* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	width: 100%;
}

h2 {
	padding: 65px;
	font-family: sans-serif;

}

.left {
	float: left;
	background-color: #4A90E2;
	height: 100%;
	width: 33.33%;
}

.center {
	float: left;
	background-color: #50E3C2;
	height: 100%;
	width: 33.33%;
}	

.right {
    float: left;
	height: 75%;
	width: 33.33%;
	background-color: #B8E986;
}

.content {
	height: 25%;
	width: 33.33%;
	float: right;
    background-color: #CE0923;
    color: white;
    text-align: center;
    position: relative;
    

}



